.productbox {
  margin: 1rem;
  text-align: left;
  background-color: white;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 800px;
  box-shadow: 0 1px 8px #b8c6db;
  -moz-box-shadow: 0 1px 8px #b8c6db;
  -webkit-box-shadow: 0 1px 8px #b8c6db;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
  flex-grow: 0; 
  flex-shrink: 1;
  margin: 1rem;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.recommendedImage {
  flex-grow: 0; 
  flex-shrink: 1;
  margin: 0;
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.productinfo {
  padding: 1rem;
  border-color: #b8c6db;
  border-left: solid;
  border-width: 1px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.brand{
  color: #BB583F;
  font-weight: 600;
  font-size: 1.9rem;
  margin: 20px 0;
}

.productname {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 5px 0;
}

.model {
  font-weight: 600;
  font-size: 1rem;
}

.price {
  font-weight: 600;
  font-size: 1.8rem;
  margin: 20px 0;
}

.filterContainer {
  display: block;
  width: 800px;
}

.filterParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterBox {
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

/* Checkbox */



.customCheckbox {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  margin-right: 0.7rem;
  cursor: pointer;
}

.customCheckbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.customCheckbox:checked::before {
  transform: scale(1);
}

.customCheckbox:focus {
  outline: none;
  outline-offset: max(2px, 0.15em);
}

.customCheckbox:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.loadMoreDiv {
  min-height: 3rem;
  min-width: 100%;
  border: 2px solid black;
  margin-top: 2rem;
}